@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

a{
    text-decoration: none;
    text-transform: uppercase;
    color: grey;
    font-family: 'Montserrat';
}

a::before {
    text-decoration-line: underline;
}

body {
    width: 80%;
    margin: auto;
}

#text-logo {
    border-right: 1px solid grey;
    padding-right: 20px;
    height: 80px;
    margin-top: 30px;
}

nav {
    margin: 40px 0;
}

nav ul li {
    display: inline;
    margin-right: 20px;
}

div.container {
    height: 500px;
    background-image: url("../img/banner.jpg");
    position: relative;
}

div.text-img-container {
    position: absolute;
    bottom: 30px;
}
